.meal {
  display: block;
  justify-content: flex-end;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.meal.description {
  font-style: italic;
  width: 60%
}

.meal.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

.imageContainer {
  float: right;
  // position: fixed;
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-right: 50px;

}

.image {
  width: 100%;
  height: auto;
}

.words{
  width: 60%;
}